<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.test.persistence.CategoryListMapper">
	<select id="selectList" parameterType="int" resultType="com.example.test.persistence.entity.CategoryListResult">
		SELECT
		ARTIST_NAME_KJ
		,ARTIST_NAME_KN
		,CATEGORY_DIV
		FROM
		(
			SELECT
			CATEGORY_DIV
			,ARTIST_CD
			FROM
			yohh.M_PRODUCT
			WHERE
			CATEGORY_DIV=#{categoryDiv}
		) AS M_PRODUCT
		INNER JOIN
		yohh.M_ARTIST
		ON
		M_PRODUCT.ARTIST_CD =M_ARTIST.ARTIST_CD
	</select>
</mapper>