<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.test.persistence.RegistMemberMapper">
	<insert id="insertMember" useGeneratedKeys="true" parameterType="String">
		insert into M_CUSTOMER(
CUSTOMER_NAME_KJ
,CUSTOMER_NAME_KN
,CUSTOMER_BIRTHDAY
,ZIP_CD
,ADDRESS
,TEL_NO
,MAIL_ADDRESS
		)
		values(
#{CUSTOMER_NAME_KJ}
,#{CUSTOMER_NAME_KN}
,#{CUSTOMER_BIRTHDAY}
,#{ZIP_CD}
,#{ADDRESS}
,#{TEL_NO}
,#{MAIL_ADDRESS}
		)
	</insert>
</mapper>